.flex{
    display: flex;
}
.border{
    border: 2px solid black;
}
.justifyc{
    justify-content: center;
}
.alignc{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.bggray{
    background-color: #121212;
    color: white;
}
.rounded{
    border-radius: 10px;
    border: 1px solid black;
}
.m1{
    margin: 5px;
}
.p1{
    padding: 5px;
}
.lwidth{
    max-width: 25vw;
    flex-wrap: wrap;
}
/* Custom Scrollbar for Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;  /* Dark background for the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;  /* Gray color for the thumb */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;  /* Slightly darker gray on hover */
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background: #444;  /* Even darker gray when active */
}

/* Firefox scrollbar styling */
html {
  scrollbar-width: thin;
  scrollbar-color: #4d4d4d #1e1e1e;
}

/* Edge, IE scrollbar styling */
body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
